<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nowinski.kamil.flighttracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ChoiceModeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_choice_mode" />
        <activity android:name=".StaticScreenModeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <meta-data
            android:name="OnlineMaps.Key"
            android:value="dM2rqO9qjHrBzmou3qWO27Zk1ZCW3lkk" />

        <service
            android:name=".Services.CompassService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".FlightTrackerMain"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".AirCraftNavigateActivity" />
    </application>

</manifest>